<div class="col-md-12 bg-light">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary url"><a href={{model.business.url}}>Yelp Link</a> 
          
          </strong>
          <div>
          <h3 class="mb-0 businessName">{{model.business.name}}               {{#if model.favorite}}
            <button class="btn btn-outline-primary unsave" {{action 'unsave'}}>Unsave</button>
          {{else}}
            <button  class="btn btn-outline-primary save" {{action 'save'}}>Save</button>
          {{/if}}</h3>
          </div>
          <div class="mb-1 text-muted price"><b>Price:</b>{{model.business.price}}</div>
          <div class="card-text mb-auto rating"><b>Rating:</b>{{model.business.rating}}</div>
          <p class="card-text mb-auto phone"><b>Phone:</b>{{model.business.display_phone}}</p>
          <p class="card-text mb-auto address"><b>Address:</b>{{model.business.location.formatted_address}}</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{model.business.photos}}" alt="photo" width="250" height="250">
        </div>
      </div>
         {{#g-map lat=model.business.coordinates.latitude lng=model.business.coordinates.longitude zoom=12 as |g|}}
      {{g.marker lat=model.business.coordinates.latitude lng=model.business.coordinates.longitude}}
    {{/g-map}}
  </div>
{{outlet}}
